{% schema %}
{
  "name": "3D Footer",
  "settings": [],
  "presets": [
    {
      "category": "Footer",
      "name": "3D Footer"
    }
  ]
}
{% endschema %}

<footer class='footer' style="background-color: black; color: #fff; text-align: center; padding: 20px;">
  <h3 style="font-size: 24px; font-weight: bold;">Footer with links</h3>
</footer>
