{% schema %}
{
  "name": "3D Theme",
  "settings": [],
  "presets": [
    {
      "name": "3D High Animation with Dark and Glowing White Theme",
      "category": "3D Themes"
    }
  ]
}
{% endschema %}

<section class='main-collection'>
  <!-- 3D high animation and responsive theme with dark and glowing white theme with animations -->
</section>
